[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mapsRinteractive"]
	path = mapsRinteractive
	url = https://github.com/ymutua/mapsrinteractive
	shallow = true
	registered = true
[submodule "SurfaceTortoise"]
	path = SurfaceTortoise
	url = https://github.com/ymutua/surfacetortoise
	shallow = true
	registered = true
